body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
    color: #333333;
}
figure {
    margin: 0;
}

/* General Styles */
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	transition: all .3s ease;
	text-decoration: none !important;
}
a.col-whi:hover{
    color: #97c000;
}
.w-100{
	width: 100%;
}
.col-whi{
	color: #fff;
}
.col-green{
	color: #97c000;
}
.dis-blo{
	display: block;
}
.intro {
    padding: 2em 1em;
}
.bold {
    font-weight: 600;
}


/* Header */
.top-bar-header {
    background: #1c1c1c;
    padding: 5px 0;
    position: relative;
    z-index: 2;
    min-height:40px;
    display: flex;
}
.header-brand {
    max-width: 90px;
}
.info-contact,.navbar-menu,.navbar-menu-desktop {
    display: none;
}
.icon-generic {
    font-size: 20px;
    color: #fff;
}
.icon-generic:hover{
    color: gray;
}
.languages-top a:first-child {
    margin-right: 9px;
}
.bottom-bar-header {
    background: #97c000;
    padding: 10px 0;
}
.input-searcher {
    border: none;
    border-radius: 0;
    font-size: 12px;
    color: #dddddd;
}
.input-searcher::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #dddddd;
}
.input-searcher::-moz-placeholder { /* Firefox 19+ */
    color: #dddddd;
}
.input-searcher:-ms-input-placeholder { /* IE 10+ */
    color: #dddddd;
}
.input-searcher:-moz-placeholder { /* Firefox 18- */
    color: #dddddd;
}
.btn-searcher-form {
    background: #fff;
    border: none;
    color: #dddddd;
    font-size: 18px;
    border-left: 1px solid #b7b2b2;
    padding: 0px 8px;
    transition: all .3s ease;
}
.btn-searcher-form:hover {
    background: #1c1c1c;
}
.content-searcher form {
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 1px 2px #0000008a;
}
.content-searcher {
    position: absolute;
    width: 100%;
    background: #1c1c1c;
    left: 0;
    top: 40px;
    padding: 10px;
    transform: translateY(-100%);
    z-index: 1;
    transition: all .3s ease;
    border-top: 1px solid #6d6d6d;
}
.content-searcher-show {
    transform: translateY(0%);
}
.btn-searcher i:nth-child(2),.btn-searcher-active i:nth-child(1){
    display: none;
}
.btn-searcher-active i:nth-child(2){
    display: block;
}
.icons-shop a {
    margin-left: 10px;
}
.mm-navbar{
    color: rgb(255, 255, 255);
    background: #1c1c1c;
}
.mm-menu,.mm-panels,.mm-panel {
    background: #1c1c1c !important;
}
.mm-listitem {
    color: rgb(255, 255, 255);
}

/* Slider */
ul.slick-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
ul.slick-dots button {
    display: none;
}
ul.slick-dots li {
    width: 10px;
    height: 10px;
    border: 2px solid #9e9c9c;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
ul.slick-dots li.slick-active {
    background: #9e9c9c;
}
.arrow-slick {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    transform: translateY(-50%);
    margin: 0 15px;
    cursor: pointer;
}
.arrow-slick.arrow-right {
    left: auto;
    right: 0;
}

/* Services */
.services-home {
    padding: 0 20px;
}
.item-service {
    text-align: center;
    padding: 15px;
}
.item-service img {
    transition: all .3s ease;
}
.item-service a {
    color: #aaaaaa;
    font-size: 18px;
}
.item-service a:hover {
    color: #97c000;
}
.item-service a:hover img {
    transform: translateY(-15px);
}

/* Products */
.title {
    color: #97c000;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin: 15px 0;
}
.item-product {
    position: relative;
    padding: 0 10px;
    overflow: hidden;
}
.icon-add-favourites {
    position: absolute;
    top: 4px;
    right: 4px;
    color: #97c019;
    font-size: 20px;
}
.info-product h3 {
    font-size: 15px;
    line-height: 1.5;
}
.product-price {
    font-size: 20px;
}
.product-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: rgba(111, 108, 108, 0.6);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    color: #fff !important;
    font-size: 18px;
    font-weight: 100;
    transition: all .3s ease;
    transform: translateY(-101%);
}
.item-product:hover .product-mask{
    transform: translateY(0%);
}
.slider-products{
    padding: 20px 0;
}

/* About Us */
.about-us {
    background: url(../img/bg-cycle.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}
.about-us::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(175, 218, 15, 0.24);
    -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 0% 100%, 0% 100%);
}
.info-about-us {
    max-width: 400px;
    margin: 0 auto;
    font-weight: 500;
}

/* Partners */
.slider-partners img{
    height: 100%;
    margin: 0 auto;
}
.slider-partners .arrow-slick {
    margin-left: -25px;
}
.slider-partners .arrow-slick.arrow-right {
    margin-right: -25px;
}

/* Gallery */
.item-gallery-1{
    background: url('../img/grid-1.jpg') no-repeat center center;
}
.item-gallery-2{
    background: url('../img/grid-2.jpg') no-repeat center center;
}
.item-gallery-3{
    background: url('../img/grid-3.jpg') no-repeat center center;
}
.item-gallery-4{
    background: url('../img/grid-4.jpg') no-repeat center center;
}
.item-gallery {
    background-size: cover;
    padding: 100px 50px;
    position: relative;
}
.item-gallery::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.item-gallery h3 {
    position: absolute;
    font-size: 18px;
    max-width: 70%;
    left: 25px;
    bottom: 25px;
    margin: 0;
    transition: all .3s ease;
}
.item-gallery:hover h3{
    left: 35px;
}

/* Subscribe */
.subscribe {
    background: #97c000;
}
.content-input-subscribe {
    margin-bottom: 10px;
}
.content-input-subscribe button {
    background: #fff !important;
    height: 35px;
}
.content-input-subscribe .input-searcher {
    height: 35px;
}

@media (min-width: 580px){
    .about-us::before {
        width: 50%;
        background: rgba(175, 218, 15, 0.24);
        -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
    }
    .item-gallery {
        padding: 130px 50px;
    }
}

@media (min-width: 768px){
    .content-info-contact {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .info-contact span i {
        margin-right: 5px;
    }
    .info-contact span {
        margin-left: 20px;
    }
    .info-contact {
        display: block;
        color: #fff;
        font-size: 12px;
    }
    .arrow-slick {
        margin: 0 40px;
    }
    .services-home {
        padding: 0 20px;
        background: #fff;
        position: relative;
        transform: translateY(-30px);
        max-width: 900px; 
        margin: -50px auto 0;
        box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.5); 
        border-radius: 6px;
    }
    ul.slick-dots {
        position: absolute;
        bottom: 90px;
    }
    .title {
        font-size: 28px;
        margin: 15px 0 30px;
    }
    .item-product {
        margin: 0 20px;
        max-width: 260px;
        margin: 0 auto;
    }
    .slider-products .arrow-slick {
        margin: 0;
    }
    .slider-products {
        padding: 0 40px;
    }
}

@media (min-width: 992px){
    .btn-searcher, .toggle-menu-mobile {
        display: none;
    }
    .icon-generic {
        font-size: 24px;
    }
    .header-brand {
        max-width: 155px;
    }
    .content-searcher {
        position: static;
        background: none;
        padding: 0px 40px;
        transform: translateY(0%) !important;
        border-top: none;
        transition: none;
    }
    .header-content-left {
        width: 100%;
        align-items: center;
    }
    .icons-shop {
        min-width: 85px;
    }
    .navbar-menu-desktop{
        display: block;
    }
    ul.main-menu {
        display: flex;
        justify-content: space-around;
        padding: 15px 0 10px 0;
    }
    ul.main-menu li a {
        color: #fff;
        display: block;
        padding: 0 10px;
    }
    ul.main-menu li a:hover{
        color: #1c1c1c;
    }
    .intro {
        padding: 3.5em 1em;
    }
    .about-us {
        padding: 80px !important;
    }
    .slider-partners {
        padding: 0 20px;
    }
    .item-gallery h3 {
        max-width: 250px;
    }
}

@media (min-width: 1200px){
    .header-content {
        padding-left: 25px;
    }
    .title {
        font-size: 28px;
        margin: 15px 0 50px;
    }
    .about-us {
        padding: 120px !important;
        background-attachment: fixed !important;
    }
}